html,body {
  background-color: #E0E0E0/*#EEEEEE*/;
}

svg{
    position: relative;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border-radius: 0;
  margin-bottom: 0;
}

.conteo{
  margin-top: 25%;
  margin-bottom: 40%;
  font-size: 67px;
}

#piechart{
	width: 900px;
	height: 500px;
} 

.top-buffer {
  margin-top: 100px;
}

.bottom-buffer {
  margin-bottom: 100px;
}

.padding-min{
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.button-fijo {
  position: fixed!important;
  bottom: 5px;
  right: 5px;
}





/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}